<div class="container">

  
    <form [formGroup]="lancamentoForm" (ngSubmit)="salvar()"  autocomplete="off">
        
        <div class="p-grid">

            <div class="p-col-12">
              <h1>{{ editando ? 'Editar ' : 'Cadastrar ' }} Lançamento</h1>
            </div>

            <div class="p-col-12">
              <p-selectButton 
                  name="tipo"
                  [options]="tipos.reverse()" 
                  formControlName="tipo"
                  >
              </p-selectButton>
            </div>
          
            <div class="formgrid grid">

                <div class="xl:col-6 lg:col-3 md:col-3 p-fluid">
                  <label>Vencimento</label>
                      <p-calendar 
                          name="dataVencimento" 
                          dateFormat="dd/mm/yy"
                          [inline]="false"
                          [readonlyInput]="false"
                          [showIcon]="false"
                          formControlName="dataVencimento" 
                          >
                      </p-calendar>

                      <app-message
                            [control]="lancamentoForm.get('dataVencimento')"
                            error="required"
                            text="Data de vencimento obrigatória." 
                            >
                      </app-message>
                </div>

                <div class="xl:col-6 lg:col-3 md:col-3 p-fluid">
                  <label>{{ lancamentoForm.get('tipo')?.value === 'RECEITA' ? 'Receita' : 'Despesa' }}</label>
                      <p-calendar 
                          name="dataPagamento"
                          dateFormat="dd/mm/yy"
                          [showIcon]="false" 
                          formControlName="dataPagamento"
                          >
                      </p-calendar>    

                </div>

                <div class="lg:col-8 md:col-8 sm:col-12 p-fluid">
                  <label>Descrição</label>
                  <input pInputText 
                         name="descricao"
                         type="text"
                         formControlName="descricao"
                         >

                         <app-message
                            [control]="lancamentoForm.get('descricao')"
                            error="campoRequerido"
                            text="Descrição é obrigatória." 
                          ></app-message>

                          <app-message
                            [control]="lancamentoForm.get('descricao')"
                            error="tamanhoMinimo"
                            text="Mínimo de {{ lancamentoForm.get('descricao')?.errors?.['tamanhoMinimo']?.tamanho }} caracteres. " 
                          ></app-message>
                           
                </div>


                <div class="lg:col-4 md:col-4 sm:col-12 p-fluid">
                  <label>Valor</label>
                  <p-inputNumber 
                      name="valor"
                      inputId="minmax" 
                      mode="currency" 
                      currency="BRL"
                      locale="pt-BR"
                      placeholder="0,00"
                      formControlName="valor"
                      >
                  </p-inputNumber>
                </div>

                <div class="lg:col-6 md:col-6 sm:col-12 p-fluid" formGroupName="categoria">
                  <label>Categoria: </label>
                  <p-dropdown 
                      name="categoria"
                      [options]="categorias" 
                      placeholder="Selecione" 
                      formControlName="codigo"
                      >
                  </p-dropdown>
                </div>

                <div class="lg:col-6 md:col-6 sm:col-12 p-fluid" formGroupName="pessoa">
                  <label>Pessoa: </label>
                  <p-dropdown 
                      name="pessoa"
                      [options]="pessoas" 
                      [filter]="true"
                      placeholder="Selecione" 
                      formControlName="codigo"
                      >
                  </p-dropdown>
                </div>

                <div class="lg:col-12 md:col-12 sm:col-12 p-fluid">
                  <label>Observação</label>
                  <textarea pInputTextarea 
                            name="observacao"
                            rows="3"
                            formControlName="observacao"
                            >
                  </textarea>
                </div>

                <div class="lg:col-4 lg:col-offset-8 md:col-6 md:col-offset-6 sm:col-12 p-fluid">

                  <p-fileUpload name="anexo" 
                                mode="basic" 
                                [style]="{'width':'100%'}" 
                                [auto]="true" 
                                [maxFileSize]="100000000"
                                chooseLabel="Anexar" 
                                accept="image/*,application/*" 
                                [headers]="uploadHeaders" 
                                [url]="urlUploadAnexo">
                  </p-fileUpload>                  
                  
                </div>

            </div>    

            <div class="formgrid grid">
              <div class="lg:col-2 md:col-2 sm:col-3 p-fluid">
                <button pButton 
                        icon="pi pi-check" 
                        class="p-button-help" 
                        type="submit" 
                        label="Salvar" 
                        [disabled]="lancamentoForm.invalid"></button>
              </div>
              <div class="lg:col-2 md:col-2 sm:col-3 p-fluid">
                <button pButton 
                        icon="pi pi-plus" 
                        class="p-button-secondary" 
                        type="button" 
                        label="Novo"
                        (click)="novo()"></button>
              </div>
              <div class="lg:col-4 md:col-4 sm:col-6 p-fluid">  
                <a routerLink="/lancamentos" class="p-button p-button-text">Voltar para a pesquisa</a>
              </div>
            </div>  

        </div>

    </form>

</div>   

  